:root{
    --main: rgb(20, 20, 41);
}
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: var(--main); 
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

nav a:nth-child(1) {
    width: 130px;
}
nav a:nth-child(3){
    width: 70px;
}
nav img {
    width: 100%;
}
nav h1{
    font-size: 27px;
}

.content {
    width: 100%; 
    margin: auto;
    background-color: aliceblue;
    color: rgb(20, 20, 41);
    padding-bottom: 20px;
}
.description{
    background: url("../img/pexels-lukas-574071.jpg");
    background-position: center;
    background-size: cover;
    height: 300px;
}
.content h2{
    font-size: 20px;
    text-align: center;
    margin: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--main);
}

.content-cards{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card{
    width: 40%;
    min-width: 300px;
    height: auto;
    border-radius: 20px;
    border: 1px solid var(--main);
    overflow: hidden;
    margin-top: 10px;
    margin: 10px 10px;
}
.card-header{
    background-color: var(--main);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-header h3{
    margin: 0;
    color: white;
    
}
.card-body{
    width: 100%;
}
.card-body img{
    width: 100%;
    height: 100%;
}

.card-foot{
    padding: 10px;
}
.card-foot p{
    font-weight: 300;
    text-align: justify;
}